@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@400;600;700&family=Roboto:wght@300;400;500;700&family=Roboto+Serif:wght@400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@media (hover: hover) and (pointer: fine) {
  .project-card {
    height: 20rem;
  }

  .project-card:hover {
    height: auto;
  }

  .project-card .project-card-details-shell {
    height: 0;
  }

  .project-card:hover .project-card-details-shell {
    height: auto;
  }

  .project-card .project-card-details {
    opacity: 0;
  }

  .project-card:hover .project-card-details {
    opacity: 1;
  }

  .project-card .project-card-action {
    display: none;
  }

  .project-card:hover .project-card-action {
    display: block;
  }

  .project-card .project-card-action-inner {
    opacity: 0;
    transform: translateY(1rem);
  }

  .project-card:hover .project-card-action-inner {
    opacity: 1;
    transform: translateY(0);
  }
}
